<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="debug">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t - %F:%L - %c] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="FATAL" />
		</filter>
	</appender>
	<!-- 系统级日志 -->
	<appender name="target.sys.file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/iava/sys/sys" />
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t - %F:%L - %c] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="FATAL" />
		</filter>
	</appender>

	<!-- 业务级日志 -->
	<appender name="target.iava.file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/iava/iava" />
		<param name="DatePattern" value="'_'yyyy-MM-dd-HH'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="INFO" />
			<param name="levelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="iava.file" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="10240" />
		<appender-ref ref="target.iava.file" />
	</appender>
	
	<appender name="sys.file" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="1024" />
		<appender-ref ref="target.sys.file" />
	</appender>

	<logger name="iava.logger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="iava.file" />
	</logger>
	<logger name="java.sql.Connection" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="console"/>
	</root>

</log4j:configuration>
